body {
    /* background-color: #fc0; */
    background-color: black;
    color: white;
    font-family: Roboto Mono;
    /* font-family: 'Karla',
        sans-serif; */

}

a {
    color: white;
}

a:hover {
    color: rgb(25, 0, 255);
}

.experience-group {
    margin-bottom: 1.5em;
}

.experience-group p {
    margin: 0;
    padding: 0;
}

.project-card {
    position: relative;
    width: 180px;
    height: 80px;
    box-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0.5);
}

/* 
.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    /* justify-content: center; */
/* align-items: center; */

.container {
    margin-top: 10%;
}

.summary {
    font-weight: 400;
}

.green {
    color: #00b500;
}

.pink {
    color: #e600e6;
}

.yellow {
    color: #ffd940;
}

.larger-icons {
    font-size: 2.2em;
    margin-top: 1em;
    margin-right: 0.75em;
}

.box {
    /* padding: 0 4em 0 5em; */
    height: 10em;
}

.col {
    position: relative;
}

span.emoji {
    font-size: 1.1em;
    vertical-align: middle;
    padding-right: 10px;
}

.fa-github:hover {
    color: #7bc96f;
    cursor: pointer;
}

.fa-linkedin:hover {
    color: #0e76a8;
    cursor: pointer;
}

.fa-download:hover {
    color: #fd7e14;
    cursor: pointer;
}

.fa-envelope:hover {
    color: #1dcaff;
    cursor: pointer;
}